$dark: #17141A;
$yellow: #E4D804;

.boxy{
    padding: 40px;
    background-color: $dark;
    background-image: url(https://movflxx.netlify.app/img/bg/ucm_bg_shape.png);
    background-position: center;
    background-size: cover;
    .boxy_top{
        padding: 0 40px;
    }
    .tab_top_text{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
            h5 {
                color: $yellow;
                font-size: 12px;
                font-weight: 500;
            }

            h1 {
                font-size: 35px;
                color: white;
            }
    }
    .tab-head{
        border-radius: 50px;
        background: #20212b;
        font-size: 12px;
        font-weight: 600;
        color: #e3dfdf;
        border: 2px solid #2d303d;
        padding: 11px 27px;
        margin: 12px;
        cursor: pointer;
        &.tab_one{
            border: 2px solid $yellow;
        }
    }
}